{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title and Buttons</title>
    <link rel="stylesheet" href="{% 'stylee.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="title">Uzur sizda kursni ko'rish uchun ruxsat yo'q.<br>Admin bilan bog'laning!</h1>
        <div class="buttons">
            <button class="btn"><a href="+998900920045">Adminga telefon qilish</a></button>
            <button class="btn"><a href="https://t.me/getfit_uz"> Admin bilan telegram orqalik bog'lanish</a></button>
        </div>
    </div>
</body>
</html>
