<html>
<head>
    <title>Vdocipher Video Embed</title>
</head>
<body>
    <!-- Your other HTML content -->

    <!-- Vdocipher Video Embed -->
    <div style="padding-top:56%;position:relative;">
<iframe src="https://player.vdocipher.com/v2/?otp=20160313versASE323ZrMntbkaLYiu0pIJmAy46UZgZinQT4cPYlcXIMR9of8Tld&playbackInfo=eyJ2aWRlb0lkIjoiZmY3NDY1ZGZjZDViNGFhN2ExNmQzZWNkMzgxZGViY2QifQ==" style="border:0;max-width:100%;position:absolute;top:0;left:0;height:100%;width:100%;" allowFullScreen="true" allow="encrypted-media"></iframe>
</div>

    <!-- Your other HTML content -->
</body>
</html>
