{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen-content">
                <div class="login-section">
                    <form class="login" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if error %}
                        <div class="error-message">
                            <p>{{ error }}</p>
                        </div>
                        {% endif %}

                        {% if devices %}
                        <h3>Tanlash uchun moslamani o'chiring</h3>
                        {% else %}
                        <!-- Normal Login Form -->
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="text" name="phone_number" class="login__input" placeholder="Username">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input type="password" name="password" class="login__input" placeholder="Parol">
                        </div>
                        <button type="submit" class="button login__submit">
                            <span class="button__text">Accountga kirish</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                        <button type="button" class="button login__submit">
                            <a href="{% url 'signup' %}">
                                <span class="button__text">Ro'yxatdan o'tish</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </a>
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
